# Работа

*Филипповой Анны*

In [2]:
import pandas as pd

In [16]:
data = pd.read_csv("TRD.csv", names = ['time', 'price', 'size', 'exchange'])

In [46]:
data.head(5)

           time   price  size exchange
0  10:00:00.009  135.14   100        V
1  10:00:00.010  135.14   100        V
2  10:00:00.013  135.13   100        D
3  10:00:00.015  135.13   300        D
4  10:00:00.016  135.13   150        D

In [59]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9993 entries, 0 to 9992
Data columns (total 4 columns):
time        9993 non-null object
price       9993 non-null float64
size        9993 non-null int64
exchange    9993 non-null object
dtypes: float64(1), int64(1), object(2)
memory usage: 312.4+ KB

In [31]:
exchanges = data['exchange'].unique()
exchanges

array(['V', 'D', 'X', 'Y', 'B', 'J', 'Q', 'Z', 'K', 'P'], dtype=object)

In [92]:
data.describe()

             price          size
count  9993.000000   9993.000000
mean    135.133108    160.074952
std       0.148600    371.261480
min     134.840000      1.000000
25%     135.000000     71.000000
50%     135.130000    100.000000
75%     135.270000    100.000000
max     135.400000  11500.000000

In [78]:
res = []

for ex in exchanges:

    one_type = data[data['exchange'] == ex].values

    ind = 0
    max_size = 0
    sum_size = one_type[ind][2]
    start_time = pd.Timestamp(one_type[ind][0])

    for row in range(1, len(one_type)):
        cur_time = pd.Timestamp(one_type[row][0])
        if (cur_time -  start_time).seconds > 0:
            if sum_size > max_size:
            
                res_start_time = one_type[ind][0]
                res_finish_time = one_type[row - 1][0]
                max_size = sum_size
            
            start_time = cur_time
            ind = row
            sum_size = one_type[ind][2]
        else:
            sum_size += one_type[row][2]
            
    res.append([res_start_time, res_finish_time, max_size, ex])

In [91]:
for row in res:
    print('Биржа', row[3] + ":")
    print("Максимальное количество сделок в течение одной секунды было между", 
          row[0],  "и",  row[1] + ".")
    print("В этот интервал прошло", row[2], "сделок.", end = '\n\n')

Биржа V:
Максимальное количество сделок в течение одной секунды было между 10:12:04.372 и 10:12:04.395.
В этот интервал прошло 2800 сделок.

Биржа D:
Максимальное количество сделок в течение одной секунды было между 10:10:52.669 и 10:10:53.639.
В этот интервал прошло 19300 сделок.

Биржа X:
Максимальное количество сделок в течение одной секунды было между 10:05:04.231 и 10:05:04.795.
В этот интервал прошло 1000 сделок.

Биржа Y:
Максимальное количество сделок в течение одной секунды было между 10:02:38.264 и 10:02:38.264.
В этот интервал прошло 1000 сделок.

Биржа B:
Максимальное количество сделок в течение одной секунды было между 10:09:54.386 и 10:09:54.386.
В этот интервал прошло 1700 сделок.

Биржа J:
Максимальное количество сделок в течение одной секунды было между 10:09:54.386 и 10:09:54.387.
В этот интервал прошло 700 сделок.

Биржа Q:
Максимальное количество сделок в течение одной секунды было между 10:02:00.184 и 10:02:01.109.
В этот интервал прошло 43106 сделок.

Биржа Z:
Максимальное количество сделок в течение одной секунды было между 10:02:00.632 и 10:02:01.110.
В этот интервал прошло 9555 сделок.

Биржа K:
Максимальное количество сделок в течение одной секунды было между 10:02:00.184 и 10:02:01.110.
В этот интервал прошло 25096 сделок.

Биржа P:
Максимальное количество сделок в течение одной секунды было между 10:02:11.855 и 10:02:12.705.
В этот интервал прошло 8479 сделок.

In [62]:
max_size, sum_size = 0, 0

In [74]:
for exchange in exchanges:
    print(type(exchange))

<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>